/* ==========================
====>   Color Vars
========================= */
$--primary-background--: #f9f9f9;
$--primary-pink--: #e2127a;
$--primary-white--: #ffffff;
$--primary-offwhite--: #e6e6ef;
$--primary-black--: #21232b;
$--primary-transparent--: rgba(33,35,43,0.8);
$--primary-fb--: #3b5998;
$--primary-twitter--: #1da1f2;
$--primary-reddit--: #ff4500;
$--secondary-black--: #32353d;
$--secondary-transparent--: rgba(33,35,43,0.16);
$--fb-transparent--: rgba(59,89,152,0.8);
$--twitter-transparent--: rgba(29,161,242,0.8);
$--reddit-transparent--: rgba(255,69,0,0.8);
$--pink-transparent--: rgba(226,18,122,0.8);
$--linear-top--: linear-gradient(to top, #e2127a, #333399);
$--linear-left--: linear-gradient(to left, #e2127a, #333399);
$--linear-right--: linear-gradient(to right, #e2127a, #333399);
$--linear-bottom--: linear-gradient(to bottom, #e2127a, #333399);
$--linear-banner--: linear-gradient(hsla(0,0%,100%,.8), hsla(0,0%,98%,.9) 50%, #f9f9f9);

/* ==========================
====>   Screen Size Vars
========================= */
$--width-300--: 300px;
$--width-400--: 400px;
$--width-600--: 600px;
$--width-900--: 900px;
$--width-991--: 991px;
$--width-1024--: 1024px;
$--width-1080--: 1080px;
$--width-1112--: 1112px;
$--width-1280--: 1280px;
$--width-1336--: 1336px;
$--width-1440--: 1440px;
$--width-1600--: 1600px;
$--width-1920--: 1920px;
$--width-2100--: 2100px;
$--width-3840--: 3840px;